html.wf-loading * {
     opacity: 0;
 }
a.navHover:hover {
  font-weight: bold;
}
#sacramentoFont{
  font-family: 'Sacramento', cursive;
}

body {
  /* background-image: url("Media/b3.jpg"), url("Media/b3.jpg");
  background-color: #cccccc; */
  background-image: linear-gradient(white, pink);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header{
  background-color: #FFFFFF;
}

html {
    height: 100%;
}



.box{
  border: 1px solid white ;
  background-color: #FFFFFF;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  padding-bottom: 50px;
}
